In [1]:
import pandas_datareader.data as web

In [3]:
df_price_index = web.DataReader('prc_hpi_a', 'eurostat')

In [5]:
df_price_index.tail()

UNIT                   Annual average index                                   \
PURCHASE    Purchases of existing dwellings
GEO                                 Austria Belgium Bulgaria  Cyprus Czechia
FREQ                                 Annual  Annual   Annual  Annual  Annual
TIME_PERIOD
2016-01-01                           109.42  102.28   107.34   99.35   107.3
2017-01-01                           115.14  105.79   117.77  100.78   119.6
2018-01-01                           121.19  108.66   126.07  101.08   129.3
2019-01-01                           128.14  113.27   132.11  102.12   141.3

UNIT                                                                  \
PURCHASE
GEO         Germany (until 1990 former territory of the FRG) Denmark
FREQ                                                  Annual  Annual
TIME_PERIOD
2016-01-01                                             107.6  105.25
2017-01-01                                             114.5  110.07
2018-01-01                                             122.2  114.90
2019-01-01                                             129.8  117.64

UNIT                                                                                                            \
PURCHASE
GEO         Euro area (EA11-1999, EA12-2001, EA13-2007, EA15-2008, EA16-2009, EA17-2011, EA18-2014, EA19-2015)
FREQ                                                                                                    Annual
TIME_PERIOD
2016-01-01                                                 NaN
2017-01-01                                                 NaN
2018-01-01                                                 NaN
2019-01-01                                                 NaN

UNIT                                                       ...  \
PURCHASE                                                   ...
GEO         Euro area - 19 countries  (from 2015) Estonia  ...
FREQ                                       Annual  Annual  ...
TIME_PERIOD                                                ...
2016-01-01                                    NaN  104.35  ...
2017-01-01                                    NaN  110.55  ...
2018-01-01                                    NaN  115.03  ...
2019-01-01                                    NaN  122.76  ...

UNIT        Annual average rate of change                                 \
PURCHASE                            Total
GEO                           Netherlands Norway Poland Portugal Romania
FREQ                               Annual Annual Annual   Annual  Annual
TIME_PERIOD
2016-01-01                            5.0    7.9    1.9      7.1     6.0
2017-01-01                            7.5    5.4    3.9      9.2     6.0
2018-01-01                            9.5    1.6    6.6     10.3     5.6
2019-01-01                            7.3    4.0    8.7      9.6     3.4

UNIT
PURCHASE
GEO         Sweden Slovenia Slovakia Turkey United Kingdom
FREQ        Annual   Annual   Annual Annual         Annual
TIME_PERIOD
2016-01-01     8.2      3.3      6.7   13.3            7.0
2017-01-01     6.6      8.3      5.9   10.2            4.6
2018-01-01    -0.9      8.7      7.4    6.9            3.3
2019-01-01     2.5      6.7      9.1    5.4            1.0

[4 rows x 210 columns]

In [13]:
# Necessary libraries
import pandas as pd
import numpy as np
from statistics import mean

import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline
my_year_month_fmt = mdates.DateFormatter('%m/%y')

import ipywidgets as widgets

import seaborn as sns
sns.set(style='darkgrid', context='talk', palette='Dark2')

In [19]:
list(df_price_index.columns)

[('Annual average index',
  'Purchases of existing dwellings',
  'Austria',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Belgium',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Bulgaria',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Cyprus',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Czechia',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Germany (until 1990 former territory of the FRG)',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Denmark',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Euro area (EA11-1999, EA12-2001, EA13-2007, EA15-2008, EA16-2009, EA17-2011, EA18-2014, EA19-2015)',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Euro area - 19 countries  (from 2015)',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Estonia',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Spain',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'European Union (EU6-1958, EU9-1973, EU10-1981, EU12-1986, EU15-1995, EU25-2004, EU27-2007, EU28-2013, EU27-2020)',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'European Union - 27 countries (from 2020)',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'European Union - 28 countries (2013-2020)',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Finland',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'France',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Croatia',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Hungary',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Ireland',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Iceland',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Italy',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Lithuania',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Luxembourg',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Latvia',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Malta',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Netherlands',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Norway',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Poland',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Portugal',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Romania',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Sweden',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Slovenia',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Slovakia',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'Turkey',
  'Annual'),
 ('Annual average index',
  'Purchases of existing dwellings',
  'United Kingdom',
  'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Austria', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Belgium', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Bulgaria', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Cyprus', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Czechia', 'Annual'),
 ('Annual average index',
  'Purchases of new dwellings',
  'Germany (until 1990 former territory of the FRG)',
  'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Denmark', 'Annual'),
 ('Annual average index',
  'Purchases of new dwellings',
  'Euro area (EA11-1999, EA12-2001, EA13-2007, EA15-2008, EA16-2009, EA17-2011, EA18-2014, EA19-2015)',
  'Annual'),
 ('Annual average index',
  'Purchases of new dwellings',
  'Euro area - 19 countries  (from 2015)',
  'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Estonia', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Spain', 'Annual'),
 ('Annual average index',
  'Purchases of new dwellings',
  'European Union (EU6-1958, EU9-1973, EU10-1981, EU12-1986, EU15-1995, EU25-2004, EU27-2007, EU28-2013, EU27-2020)',
  'Annual'),
 ('Annual average index',
  'Purchases of new dwellings',
  'European Union - 27 countries (from 2020)',
  'Annual'),
 ('Annual average index',
  'Purchases of new dwellings',
  'European Union - 28 countries (2013-2020)',
  'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Finland', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'France', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Croatia', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Hungary', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Ireland', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Iceland', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Italy', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Lithuania', 'Annual'),
 ('Annual average index',
  'Purchases of new dwellings',
  'Luxembourg',
  'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Latvia', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Malta', 'Annual'),
 ('Annual average index',
  'Purchases of new dwellings',
  'Netherlands',
  'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Norway', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Poland', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Portugal', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Romania', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Sweden', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Slovenia', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Slovakia', 'Annual'),
 ('Annual average index', 'Purchases of new dwellings', 'Turkey', 'Annual'),
 ('Annual average index',
  'Purchases of new dwellings',
  'United Kingdom',
  'Annual'),
 ('Annual average index', 'Total', 'Austria', 'Annual'),
 ('Annual average index', 'Total', 'Belgium', 'Annual'),
 ('Annual average index', 'Total', 'Bulgaria', 'Annual'),
 ('Annual average index', 'Total', 'Cyprus', 'Annual'),
 ('Annual average index', 'Total', 'Czechia', 'Annual'),
 ('Annual average index',
  'Total',
  'Germany (until 1990 former territory of the FRG)',
  'Annual'),
 ('Annual average index', 'Total', 'Denmark', 'Annual'),
 ('Annual average index',
  'Total',
  'Euro area (EA11-1999, EA12-2001, EA13-2007, EA15-2008, EA16-2009, EA17-2011, EA18-2014, EA19-2015)',
  'Annual'),
 ('Annual average index',
  'Total',
  'Euro area - 19 countries  (from 2015)',
  'Annual'),
 ('Annual average index', 'Total', 'Estonia', 'Annual'),
 ('Annual average index', 'Total', 'Spain', 'Annual'),
 ('Annual average index',
  'Total',
  'European Union (EU6-1958, EU9-1973, EU10-1981, EU12-1986, EU15-1995, EU25-2004, EU27-2007, EU28-2013, EU27-2020)',
  'Annual'),
 ('Annual average index',
  'Total',
  'European Union - 27 countries (from 2020)',
  'Annual'),
 ('Annual average index',
  'Total',
  'European Union - 28 countries (2013-2020)',
  'Annual'),
 ('Annual average index', 'Total', 'Finland', 'Annual'),
 ('Annual average index', 'Total', 'France', 'Annual'),
 ('Annual average index', 'Total', 'Croatia', 'Annual'),
 ('Annual average index', 'Total', 'Hungary', 'Annual'),
 ('Annual average index', 'Total', 'Ireland', 'Annual'),
 ('Annual average index', 'Total', 'Iceland', 'Annual'),
 ('Annual average index', 'Total', 'Italy', 'Annual'),
 ('Annual average index', 'Total', 'Lithuania', 'Annual'),
 ('Annual average index', 'Total', 'Luxembourg', 'Annual'),
 ('Annual average index', 'Total', 'Latvia', 'Annual'),
 ('Annual average index', 'Total', 'Malta', 'Annual'),
 ('Annual average index', 'Total', 'Netherlands', 'Annual'),
 ('Annual average index', 'Total', 'Norway', 'Annual'),
 ('Annual average index', 'Total', 'Poland', 'Annual'),
 ('Annual average index', 'Total', 'Portugal', 'Annual'),
 ('Annual average index', 'Total', 'Romania', 'Annual'),
 ('Annual average index', 'Total', 'Sweden', 'Annual'),
 ('Annual average index', 'Total', 'Slovenia', 'Annual'),
 ('Annual average index', 'Total', 'Slovakia', 'Annual'),
 ('Annual average index', 'Total', 'Turkey', 'Annual'),
 ('Annual average index', 'Total', 'United Kingdom', 'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Austria',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Belgium',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Bulgaria',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Cyprus',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Czechia',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Germany (until 1990 former territory of the FRG)',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Denmark',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Euro area (EA11-1999, EA12-2001, EA13-2007, EA15-2008, EA16-2009, EA17-2011, EA18-2014, EA19-2015)',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Euro area - 19 countries  (from 2015)',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Estonia',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Spain',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'European Union (EU6-1958, EU9-1973, EU10-1981, EU12-1986, EU15-1995, EU25-2004, EU27-2007, EU28-2013, EU27-2020)',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'European Union - 27 countries (from 2020)',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'European Union - 28 countries (2013-2020)',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Finland',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'France',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Croatia',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Hungary',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Ireland',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Iceland',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Italy',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Lithuania',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Luxembourg',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Latvia',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Malta',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Netherlands',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Norway',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Poland',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Portugal',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Romania',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Sweden',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Slovenia',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Slovakia',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'Turkey',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of existing dwellings',
  'United Kingdom',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Austria',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Belgium',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Bulgaria',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Cyprus',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Czechia',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Germany (until 1990 former territory of the FRG)',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Denmark',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Euro area (EA11-1999, EA12-2001, EA13-2007, EA15-2008, EA16-2009, EA17-2011, EA18-2014, EA19-2015)',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Euro area - 19 countries  (from 2015)',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Estonia',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Spain',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'European Union (EU6-1958, EU9-1973, EU10-1981, EU12-1986, EU15-1995, EU25-2004, EU27-2007, EU28-2013, EU27-2020)',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'European Union - 27 countries (from 2020)',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'European Union - 28 countries (2013-2020)',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Finland',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'France',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Croatia',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Hungary',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Ireland',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Iceland',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Italy',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Lithuania',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Luxembourg',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Latvia',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Malta',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Netherlands',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Norway',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Poland',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Portugal',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Romania',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Sweden',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Slovenia',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Slovakia',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'Turkey',
  'Annual'),
 ('Annual average rate of change',
  'Purchases of new dwellings',
  'United Kingdom',
  'Annual'),
 ('Annual average rate of change', 'Total', 'Austria', 'Annual'),
 ('Annual average rate of change', 'Total', 'Belgium', 'Annual'),
 ('Annual average rate of change', 'Total', 'Bulgaria', 'Annual'),
 ('Annual average rate of change', 'Total', 'Cyprus', 'Annual'),
 ('Annual average rate of change', 'Total', 'Czechia', 'Annual'),
 ('Annual average rate of change',
  'Total',
  'Germany (until 1990 former territory of the FRG)',
  'Annual'),
 ('Annual average rate of change', 'Total', 'Denmark', 'Annual'),
 ('Annual average rate of change',
  'Total',
  'Euro area (EA11-1999, EA12-2001, EA13-2007, EA15-2008, EA16-2009, EA17-2011, EA18-2014, EA19-2015)',
  'Annual'),
 ('Annual average rate of change',
  'Total',
  'Euro area - 19 countries  (from 2015)',
  'Annual'),
 ('Annual average rate of change', 'Total', 'Estonia', 'Annual'),
 ('Annual average rate of change', 'Total', 'Spain', 'Annual'),
 ('Annual average rate of change',
  'Total',
  'European Union (EU6-1958, EU9-1973, EU10-1981, EU12-1986, EU15-1995, EU25-2004, EU27-2007, EU28-2013, EU27-2020)',
  'Annual'),
 ('Annual average rate of change',
  'Total',
  'European Union - 27 countries (from 2020)',
  'Annual'),
 ('Annual average rate of change',
  'Total',
  'European Union - 28 countries (2013-2020)',
  'Annual'),
 ('Annual average rate of change', 'Total', 'Finland', 'Annual'),
 ('Annual average rate of change', 'Total', 'France', 'Annual'),
 ('Annual average rate of change', 'Total', 'Croatia', 'Annual'),
 ('Annual average rate of change', 'Total', 'Hungary', 'Annual'),
 ('Annual average rate of change', 'Total', 'Ireland', 'Annual'),
 ('Annual average rate of change', 'Total', 'Iceland', 'Annual'),
 ('Annual average rate of change', 'Total', 'Italy', 'Annual'),
 ('Annual average rate of change', 'Total', 'Lithuania', 'Annual'),
 ('Annual average rate of change', 'Total', 'Luxembourg', 'Annual'),
 ('Annual average rate of change', 'Total', 'Latvia', 'Annual'),
 ('Annual average rate of change', 'Total', 'Malta', 'Annual'),
 ('Annual average rate of change', 'Total', 'Netherlands', 'Annual'),
 ('Annual average rate of change', 'Total', 'Norway', 'Annual'),
 ('Annual average rate of change', 'Total', 'Poland', 'Annual'),
 ('Annual average rate of change', 'Total', 'Portugal', 'Annual'),
 ('Annual average rate of change', 'Total', 'Romania', 'Annual'),
 ('Annual average rate of change', 'Total', 'Sweden', 'Annual'),
 ('Annual average rate of change', 'Total', 'Slovenia', 'Annual'),
 ('Annual average rate of change', 'Total', 'Slovakia', 'Annual'),
 ('Annual average rate of change', 'Total', 'Turkey', 'Annual'),
 ('Annual average rate of change', 'Total', 'United Kingdom', 'Annual')]

In [20]:
df_price_index.at['2017-01-01',('Annual average rate of change',
  'Purchases of existing dwellings',
  'Romania',
  'Annual')]

7.3

In [21]:
df_price_index.at['2017-01-01',('Annual average rate of change', 'Total', 'Romania', 'Annual')]

6.0

In [22]:
df_price_index.loc[:,('Annual average rate of change', 'Total', 'Romania', 'Annual')]

TIME_PERIOD
2016-01-01    6.0
2017-01-01    6.0
2018-01-01    5.6
2019-01-01    3.4
Name: (Annual average rate of change, Total, Romania, Annual), dtype: float64

In [24]:
col_ro = df_price_index.loc[:,('Annual average rate of change', 'Total', 'Romania', 'Annual')]
print(col_ro)

TIME_PERIOD
2016-01-01    6.0
2017-01-01    6.0
2018-01-01    5.6
2019-01-01    3.4
Name: (Annual average rate of change, Total, Romania, Annual), dtype: float64

In [29]:
col_ro_pandas = pd.DataFrame(data=col_ro)

In [30]:
col_ro_pandas.head()

            Annual average rate of change
                                    Total
                                  Romania
                                   Annual
TIME_PERIOD
2016-01-01                            6.0
2017-01-01                            6.0
2018-01-01                            5.6
2019-01-01                            3.4

In [32]:
list(col_ro_pandas.columns)

[('Annual average rate of change', 'Total', 'Romania', 'Annual')]

In [37]:
col_ro_pandas['The new column'] = col_ro_pandas[('Annual average rate of change', 'Total', 'Romania', 'Annual')] * 2
col_ro_pandas

            Annual average rate of change The new column
                                    Total
                                  Romania
                                   Annual
TIME_PERIOD
2016-01-01                            6.0           12.0
2017-01-01                            6.0           12.0
2018-01-01                            5.6           11.2
2019-01-01                            3.4            6.8

In [40]:
data_analysts = {'Name':['Robert', 'Andrei', 'Claudiu'], 
                 'Experience':[2, 3, 5],
                 'Music': ['techno', '3sudest', 'rock'],
                 'Progress': [1.134, 1.143, 1.145]}
df_analysts = pd.DataFrame(data_analysts)
df_analysts

       Name  Experience    Music  Progress
0    Robert           2   techno     1.134
1    Andrei           3  3sudest     1.143
2  Cluaudiu           5     rock     1.145

In [41]:
def xlookup(lookup_value, lookup_array, return_array, if_not_found:str = ''):
    match_value = return_array.loc[lookup_array == lookup_value]
    if match_value.empty:
        return f'"{lookup_value}" not found!' if if_not_found == '' else if_not_found

    else:
        return match_value.tolist()[0]

In [43]:
who = xlookup('techno', df_analysts['Music'], df_analysts['Name'])
who

'Robert'

In [44]:
df_analysts.dtypes

Name           object
Experience      int64
Music          object
Progress      float64
dtype: object

In [46]:
df_analysts['Productivity'] = df_analysts['Experience'] * df_analysts['Progress']
df_analysts

       Name  Experience    Music  Progress  Productivity
0    Robert           2   techno     1.134         2.268
1    Andrei           3  3sudest     1.143         3.429
2  Cluaudiu           5     rock     1.145         5.725

In [47]:
random_ratio = 2.45
df_analysts['Acutal Productivity'] = df_analysts['Productivity'].apply(lambda x: x * random_ratio)
df_analysts

       Name  Experience    Music  Progress  Productivity  Acutal Productivity
0    Robert           2   techno     1.134         2.268              5.55660
1    Andrei           3  3sudest     1.143         3.429              8.40105
2  Cluaudiu           5     rock     1.145         5.725             14.02625

In [53]:
df_analysts.to_csv("/Users/robert.radoslav/df_analysts.csv", index = False)